extends ../layout-full

block page-content
	canvas#gamecanvas(height='720', width='1280')
	
block scripts
	script(type='text/javascript', src='/games/lovebucket/lovebucket.min.js')
	script(type='text/javascript')
		Aether.SetRoot('/games/lovebucket/');
		Aether.Initialize();
		Aether.SetPlayer(new Aether.Players.WebPlayer(document.getElementById("gamecanvas")));
		Aether.Play();