@import 'lib/reset.less';
@import '../bootstrap/css/bootstrap.min.css';
@import '../media/font/font.css';

@import 'helpers.less';

@main-bg: #f9f9f9;
@main-bg-dark: #ededed;
@main-fg: #010101;
@main-highlight: #fcb31f;
@main-lowlight: #f77d20;

body {
	background-color: @main-bg;
	font-family: 'Arial', 'Helvetica', 'Sans-Serif';
}

h1 {
	font-family: 'harabara';
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.0em;
}

small {
	font-size: 0.9em;
}	

nav {
	ul, li {
		list-style-type: none;
	}
}


a.image {
	img { 
		border: none;
	}
}

section.site {
	/* width: 960px; */
	margin: 0px 20px;
	
	header.site {
		height: 100px;
		border-top: 1px solid @main-lowlight;
		
		div.logo {
			padding-top: 20px;
			
			img {
				height: 56px;
				width: 213px;
			}
		}
	}
	
	footer.site {
		
	}
	
	aside.site {
		nav.site {
			margin-bottom: 1em;
			
			li {
				background-color: @main-bg-dark;
				padding: 0.25em 0em 0.25em 0.5em;
				margin-bottom: 0.25em;
				
				&:hover {
					background-color: @main-highlight;
				}
				
				a {
					color: @main-fg;
					
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	
		.social-media {
			list-style-type: none;
			margin: 0px auto;
			padding: 0px 0px 0px 6px;
			
			img {
				border: none;
				height: 60px;
				width: 60px;
			}
			
			li {
				margin: 0px;
				padding: 0px;
				margin-left: 1em;
			}
			
			li:first-child {
				margin-left: 0em;
			}
		}
		
		.about {
			margin-top: 1.5em;
			text-align: justify;
			text-justify: newspaper;
		}
	}
	
	section.main {
		article.post {
			background-color: @main-bg-dark;
			border-top: 30px solid @main-highlight;
			padding-top: 10px;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
			
			header, footer, .post-body {
				padding-left: 0em;
			}
			
			aside, .post-body {
				margin-top: 1em;
			}
			
			.post-body {
				margin-bottom: 1em;
			}
			
			.tags {
				ul, li {
					list-style-type: none;
					margin: 0px;
					padding: 0px;
				}
				
				li {
					margin-left: 2px;
				}
			}
		}
	}
}

canvas#gamecanvas {
	margin: 0px auto 10px auto;
	/* border: solid #000 5px; */
}