extends layout-leftnav

block page-content
	article.post
		header.post.row-fluid
			h2.row-fluid	Lovebucket is coming back...
			small.row-fluid	June 21, 2013	
		section.post.row-fluid
			article.post-body.span10
				img(src='media/img/lb-banner.png', alt='Lovebucket')
				p	Lovebucket is coming back soon. Thanks for all your feedback on the alpha!
			aside.post.span2
				div.pull-left
					h5	Tags
					ul.tags
						li
							small	lovebucket
						li
							small	news
		footer.post.row-fluid
			article.span12
				em	DW, The Producer
			
			