extends layout

block content
	aside.site.span3
		nav.site.row-fluid
			ul.span12
				li
					a(href='/')
						h4	Home
				li
					a(href='/who-we-are')
						h4	Who We Are
		ul.social-media.row-fluid
			li.span3
				a.image(href='https://www.facebook.com/brewpubgames', target='_blank')
					img(src='/media/img/facebook.png', alt='Find us on Facebook')
			li.span3
				a.image(href='https://twitter.com/brewpubgames', target='_blank')
					img(src='/media/img/twitter.png', alt='Find us on Twitter')
			li.span3
				a.image(href='http://www.youtube.com/user/brewpubgames', target='_blank')
					img(src='/media/img/youtube.png', alt='Find us on YouTube')
		section.about.row-fluid
			header.span12
				h5	About Us
			article.span12
				p Brewpub Games is the attempt of three friends trying to take their passion for video games and turn it into a profession. They consist of the Artist, the Producer, and the Developer; each sharing the role of Director. Together they combine their individual skills to attempt to not only make games they want to play, but learn how to do it in the process.
	section.main.span9
		block page-content
			article	Oops! There should be content here. 
			
			