doctype 5
html
	head
		title Brewpub Games&nbsp;| #{title}
		link(rel='stylesheet', href='/style/style.css')
		script(src='/script/lib/require.js', data-main='/script/main', type='text/javascript')
  
	body
		section.site
			header.site.row-fluid
				div.logo.span3
					a.image(href='/')
						img(src='/media/img/logo.png',alt='Brewpub Games Logo')
				nav.site.span9
					ul.row-fluid
						li.play.span12
							a.image(href='/play/lovebucket').pull-right
								img(src='/media/img/playlovebucket-small.png', alt='Play Lovebucket')
			section.content.row-fluid
				block content
			footer.site.row-fluid

		block scripts
		
		script(type='text/javascript')
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-39644202-1', 'brewpubgames.com');
			ga('send', 'pageview');