extends layout-leftnav

block page-content
	article.post
		header.post.row-fluid
			h2.span12	Coming Soon: This Section
		section.post.row-fluid
			article.post-body.span12	We are too busy working on building our game to tell you who we are, but we will soon!